/* Global Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.store_location_container {
  margin-top: 20px;
}

.store_locator {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 1px 3px 5px 0 hsl(0deg 0% 75% / 30%);
}

.store_locator_title {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store_locator_title span {
  font-size: 24px;
  color: #003380;
}

.store_location_image {
  position: relative;
}

.store_location_image img {
  position: absolute;
  right: -25px;
  top: -35px;
}

.input_area {
  padding: 20px;
  text-align: center;
  width: 60vw;
  line-height: 2.5;
}

.area_input_box {
  width: 25%;
  padding: 10px 10px;
  border: 2px solid #00000000;
  box-shadow: 0 0 1px #3d464d;
}

.small__text {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  color: #666;
}

.sl_search_btn {
  padding: 10px 12px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: #e42529;
  border: 1px solid #e42529;
}

.sl_search_btn:hover {
  background-color: #cf2f2f;
}

.sl_btn {
  text-align: center;
  padding: 8px 12px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  background: transparent;
  color: #003380;
  border: 1px solid #003380;
}

.sl_btn i {
  margin: 0 5px;
}

.sl_btn:hover {
  opacity: 0.8;
}

/* Our stores Section */

.our_stores {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 1.3em;
  color: #333;
  text-align: center;
}

.stores_info {
  display: flex;
  justify-content: center;
}

.stores_info_row {
  margin: 10px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  width: 33%;
  box-shadow: 0 0 8px 0 hsl(0deg 0% 75% / 40%);
  color: #666;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.stores_logo,
.stores_info_title {
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

.stores_logo {
  height: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #adadad;
}
