/* Global CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.promise_section_container {
  margin: 20px;
}

.promise_details {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  cursor: pointer;
}

.promise_items {
  height: 100px;
  width: 25%;
  text-align: center;
  margin: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-transform: uppercase;
}
.promise_item_img img {
  height: 40px;
}

.promise_title {
  margin: 10px 0;
  color: #003380;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.promise_text {
  color: #003380;
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
}
.promise_subtext {
  color: #666;
  font-size: 10px;
  line-height: 15px;
}

/* Main Page Product - Slider Group */

.main_product_section {
  border-top: 1px solid #ddd;
  padding: 32px 2% 0;
}

.products_title {
  padding: 0 10px;
  border-right: 1px solid #333333;
}

.view_all a {
  font-size: 14px;
  color: #003380;
  font-weight: 600;
  text-decoration: none;
}

.main_product_items {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  line-height: 0.7em;
  margin-bottom: 20px;
  padding: 0 10px 2px 0;
  text-transform: uppercase;
}

.main_slider_group {
  margin: 30px 10px;
  display: flex;
  align-items: center;
}

.group_main_image {
  height: 300px;
  width: 300px;
}

.main_slider_item {
  margin:0 25px;
  padding: 5px 15px;
  height: 100%;
  width: 250px;
  overflow: hidden;
}
.main_slider_image{
  padding: 20px 0;
  text-align: center;
}

.main_slider_image img {
  height: 130px;
  width: 130px;
}
.main_product_details .main_product_name {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.slider_product_title{
    color: #003380;
    font-size: 15px;
    overflow: hidden;
}
.price_label{
  color:#666;
}
.price_label strong{
  font-size: 14px;
  color:#000;
}

.offer-btn {
  border-radius: 16px;
  width: fit-content;
  color: #31812e;
  background: #effcf5;
  border: 1px solid #31812e;
  font-size: 10px;
  font-weight: 500;
  padding: 1px 6px;
  text-transform: uppercase;
}
.slider_left_btn,
.slider_right_btn{
  margin: 15px;
  position: relative;
}

.left_btn,
.right_btn{
    color:#333;
    padding: 20px 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px 0 #d4d4d4;
    
}

.left_btn{
  position: absolute;
  top:50%;
}
.right_btn{
  position: absolute;
  top:50%;
  right:0;
}


.main_slider_group_right{
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
