* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Css */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Navbar */
.nav {
  font-size: 18px;
  background: #003380;
}

.nav_items li {
  padding: 10px 15px;
  list-style: none;
}

.nav_items > li:hover {
  background-color: red;
}

.navbar li > a {
  color: #fff;
  text-decoration: none;
}

.nav_items {
  position: relative;
}

/* DropDown Menu */

.dropdown_items {
  display: none;
  z-index: 1;
}

.nav_items:hover .dropdown_items {
  display: block;
}

.dropdown {
  padding: 10px 20px;
  background: url("./images/Mobiles-Tablet-Menu-Banners-04-01-2021-01.png");
  background-size: contain;
  position: absolute;
  left: 0px;
  width: 100vw;
  max-width: 1200px;
  display: flex;
}

.dropdown .items {
  font-size: 18px;
  font-weight: 600;
}

.dropdown .subitems {
  font-size: 14px;
  color: #8f8e8e;
  margin-left: 10px;
  line-height: 8px;
}

.dropdown a:hover {
  text-decoration: underline;
}
