* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Css */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Navbar */
.nav {
  font-size: 18px;
  background: #003380;
  position: relative;
}

.nav_items li {
  padding: 10px 15px;
  list-style: none;
  cursor: pointer;
}

.nav_items > li:hover {
  background-color:#e42529;
}

.navbar li > a {
  color: #fff;
  text-decoration: none;
}


/* DropDown Menu */

.dropdown_items {
  display: none;
  z-index: 1;
}

.nav_items:hover .dropdown_items {
  display: block;
}

.row1, .row2, .row3{
  margin-right: 20px;
}

.dropdown {
  padding: 10px 20px;
  position: absolute;
  top:40px;
  left: 50px;
  width: 100vw;
  max-width: 1200px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #8f8e8e;
  display: flex;
}

.mobile_section{
  background: url("./images/Mobiles-Tablet-Menu-Banners-04-01-2021-01.png");
  background-size:cover;
  background-position: center;
}

.dropdown .items {
  font-size: 18px;
  font-weight: 600;
}

.dropdown .subitems {
  font-size: 14px;
  color: #8f8e8e;
  line-height: 8px;
}

.dropdown a:hover {
  text-decoration: underline;
}

.television_section,
.audio,
.home_app,
.computer_section,
.camera_section,
.kitchen_apps,
.personal_care{
  background: #252F64;
}